---
layout: default
---

<div class="flex flex-col gap-[7px] w-full">
  {% for project in site.projects %}
    <div class="flex items-center text-[14px] text-black relative group">
      <p class="flex-1 min-w-0"><a href="{{ project.url }}">{{ project.title }}</a></p>
      <p class="flex-1 min-w-0">{{ project.category }}</p>
      <p class="flex-1 min-w-0 text-right">{{ project.year }}</p>
      {% if project.portada %}
        <img src="{{ project.portada }}" alt="" onload="adjustImageSize(this)" class="fixed bottom-0 right-0 object-contain opacity-0 group-hover:opacity-100 transition-opacity duration-300 -z-10">
      {% endif %}
    </div>
  {% endfor %}
</div>
